[submodule "duckdb"]
	path = duckdb
	url = https://github.com/Query-farm-haybarn/haybarn.git
	branch = haybarn
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main